body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/background.gif");}
*{
    box-sizing: border-box;
}

#menu ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
#menu ul li{
    display:inline;
}
#menu ul a{
    text-decoration: none;
}
#menu ul li{

    width: 142px;
    float: left;
    background:mediumspringgreen;
    color:black;
    font-weight:bold;
    text-align:left;
    line-height:35px;
    border-left:1px solid #fff;
    list-style-type: none
;
}
#menu ul li:hover{
    text-decoration: underline;
    color: red;
}
#food >li >ul{
    list-style-type: none;
    display: none;
}
#food >li:hover >ul{
    display: block;
}

#wrap {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
#banner{

    margin-left: 100px;
}
#bottom{
    height: 200px;
}